/* common css */
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}

/* header */
.navbar-collapse {
  flex-grow: 0;
}
.nav-item {
  padding-left: 25px;
}
.navbar-light .navbar-nav .nav-link {
  font-size: 14px;
  padding: 0;
  color: #000;
}
.header-logo {
  width: 50px;
  height: 50px;
}
/* banner */
.banner {
  background-color: #5c6bc0;
  color: #fff;
  padding: 80px 0;
}
.banner-content {
  width: 750px;
  height: 300px;
  margin: 0 auto;
  text-align: center;
}
.banner-content h3 {
  font-size: 20px;
  margin-bottom: 50px;
  font-weight: bold;
}
.banner-content p {
  font-size: 12px;
  margin-bottom: 50px;
  font-weight: bold;
}
.btn {
  border-radius: 0;
  font-size: 12px;
  padding: 10px 18px;
}
/* .btn-outline-secondary {
  background: transparent;
  border-color: #fff;
  color: #fff;
}
.btn-outline-secondary:hover {
  background-color: #fff;
  color: #000;
} */
.application-link {
  background-color: transparent;
  border-color: #fff;
  transition: all 0.5s linear;
}
.application-link:hover {
  background-color: #fff;
}
.application-link a {
  color: #fff;
  transition: all 0.5s linear;
}
.application-link:hover a {
  color: #000;
}

/* application */
.tab-item {
  width: 46%;
  padding: 10px 5px;
  text-align: center;
  display: block;
  position: relative;
  background-color: #fff;
}
.item-effect {
  border-top: 2px solid #5c6bc0;
}
.register-form {
  display: none;
}
